{% extends 'base.html' %}

{% block title %}Sweet Home - Change Photo{% endblock %}

{% block page %}
<div class="page-header">
    <h3>更换头像</h3>
</div>
<form method="post" action="{{ url_for('main.change_photo') }}" enctype="multipart/form-data">
    <label for="Xfile"><img src="{{ url_for('static',filename='upload.gif') }}"  title='上传图片' height="260" width="300" class="img-position img-rounded"></label>
    <input type="file" class="photo-img" id="Xfile" accept="image/*" name="photo">
    <br>
    <input class="btn btn-warning photo-btn" type="submit" value="提交">
</form>
{% endblock %}